@import "tailwindcss";

html, body, #__next{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* Hide scrollbars globally */
::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
